@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 2px solid #10b981;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 2px solid #10b981;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 2px solid #10b981;
  border-radius: 50%;
  cursor: pointer;
}
